@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

:root {
  --background: #09090b;
  --foreground: #ededed;
  --dark-light: #27272a;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-light: var(--dark-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  @apply scrollbar-thin scrollbar-thumb-[#909091] scrollbar-track-background;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
